<div style="margin-top: 10vh; height: 300px;">
    <div style="border: 1px solid black; background: black; color: white;
    font-size: 30px; text-align: center; margin-top: 20%;  height: 33%;
    ">  
        Failed to Create the Account, Please try again.
    </div>
</div>