
<div style="margin-top: 10vh; height: 300px;">
    <div style="border: 1px solid black; background: black; color: white;
    font-size: 30px; text-align: center; margin-top: 20%;  height: 33%;
    ">  
        Successfully Created the Account
    </div>
</div>
{{!-- <script type="text/javascript">
 setTimeout(function () {
       window.location.href = "/success"; //will redirect to your blog page (an ex: blog.html)
    }, 2000); 
</script> --}}